@charset "utf-8";

/* Ryan Myers */

html {
   background: rgb(69, 77, 70);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: rgb(190, 190, 190);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(51, 51, 51);
   border-right: 1px solid rgb(51, 51, 51);
   min-height: 100%;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;
   width: 100%;
}

div {
  text-align: center;
}

#locationList {
  width: 50%;
}

/* Header styles */

header {
   background:black;
   border-top:1px solid rgb(3, 86, 17);
   border-bottom: 1px solid rgb(3, 86, 17);
}

#logoheader {
   display: block;
   margin: 0px auto;
   width: 100%;
}

/* Navigation list styles */

header nav ul {
   background: black;
   width: 90%;

}

header nav ul li {
   font-size: 1em;
}

header nav ul li a {
   color: rgb(231, 231, 231);
   text-shadow: rgb(51, 51, 51) 0px 0px 1px, rgb(51, 51, 51) 0px 0px 8px;
   display: block;
   padding: 5px 20px;
   width: 100%;
}

header nav ul li a:hover {
   color: white;
   background-color: rgb(150, 150, 150);
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
   margin: 40px auto;
   width: 85%;
}

article h1 {
   color: rgb(0, 0, 0);
   text-shadow: white -2px 0px 0px, rgb(151, 151, 151) -14px 0px 8px;
   font-family: Speeder;
   font-weight: normal;
   font-size: 1.5em;
   font-style: oblique;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 20px;
}

article p {
   line-height: 1.5;
   margin-bottom: 30px;
}

video {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.pricing {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

/* Footer styles */

footer {
   color: white;
   background: linear-gradient(to bottom, rgb(10, 86, 3), black);
   font-size: 0.9em;
   font-style: normal;
}

footer nav ul {
   float: left;
   padding: 30px;
   width: 25%;
}

footer nav ul a {
   color: white;
}

footer nav ul a:hover {
   text-decoration: underline;
}

footer::after {
   display: table;
   content: "";
   clear: both;
}

/*
   Phone Styles: 0px to 640px
*/

@media only screen and (max-width: 640px) {

   header nav ul li {
      display: block;
   }

  header nav ul li a:hover {
    width: 25%;
  }

   header img#logoheader {
      width: 100%;
   }

   video {
     width: 80%;
   }
}

/*
   Tablet and Desktop Styles: greater than 640px
*/

@media only screen and (min-width: 641px) {

   header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }

   header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
